#index{
        
        background-image: linear-gradient(to bottom, rgba(242, 225, 200, 0.8) 20%, rgba(22, 11, 43, 1) 80%), url(img/background.jpg);
    }
    font-family: Arial, Helvetica, sans-serif;
}

#normalbody {
    background-image: url(img/background.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}

p{
    
    font-family: 'Times New Roman', Times, serif;
    color: #452014;
}

.box {
    background-color: #F2E1C8;
    border-radius: 55px;
    width: 300px;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 300px;
    border-color: #E1A53E;
}

.box:hover {
    transform: scale(1.02);
    background-color: #e0c69f;
}

.center {
    justify-content: center;
    text-align: center;
    font-family: 'Times New Roman', Times, serif;
    color:whitesmoke;
}

h1 {
    font-family: 'Times New Roman', Times, serif;
    color:whitesmoke;
}

li {
    font-family: 'Times New Roman', Times, serif;
    color:whitesmoke;
}

.section {
    height: 100vh; /* Full viewport height */
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 24px;
    color: white;
}

#aa {
    scroll-behavior: smooth;
}
